# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyirc
*.mypy_cache
*.pytest_cache
*.ruff_cache
*docs/
*typecov/
dist/

.DS_Store

debug*

panelsplit.egg-info

.venv
.python-version

# drafts
examples/Intro to PanelSplit.ipynb
examples/PanelSplit explanation.ipynb
htmlcov
.coverage
.vscode/
